:root {
    --main-font: 'Roboto', sans-serif;
    --secondare-font: 'Raleway', sans-serif;

/* text-colors */
--accent-cl: #2196F3;
--main-txt-cl: #212121;
--secondary-txt-cl: #757575;
--white-color: #FFFFFF;
--black-color: #000000;

/* background colors */
--main-bg-cl: #E5E5E5;
--secondary-bg-cl: #2F303A;
--white-bg-cl: #FFFFFF;
--accent-bg-cl: #2196F3;
}
body {
font-family: var(--main-font);
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
text-decoration: none;
font-style: none;
    
color: var(--main-txt-cl);
}

/* секція header */
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--accent-cl)
}

.studio-black {
color: var(--black-color);
}

.studio-white {
color: var(--white-color);
}

.logo-black {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #000000;
}

.item-mail, .item-phone {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}

.item-mail:hover, .item-phone:hover,
.item-mail:focus, .item-phone:focus  {
    color: var(--accent-cl);
}

.header {
background-color: var(--white-bg-cl);
}

/* Секція герой */

.link,
.member-list,
.list,
.member-item {
color: currentColor;
list-style: none;
}

.link:hover,
.link:focus {
color: var(--accent-cl);
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--white-color);
}

.hero {
background-color: var(--secondary-bg-cl);
}

/* Button */
.btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
text-decoration: none;
font-style: normal;
align-items: center;
text-align: center;

background: #2196F3;
color: var(--white-color);
}
.nav-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
text-decoration: none;
font-style: normal;
cursor: pointer;        

color: var(--main-txt-cl);
}

.nav-btn:hover,
.nav-btn:focus {
color: var(--white-color);
background: var(--accent-cl);
}

.navigation .link.active,
.item-phone.active {
    color: var(--accent-cl);
}

.nav-btn.active {
    color: var(--white-color);
    background-color: var(--accent-bg-cl);
}

/*Features*/
.feature {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-txt-cl);
background-color: var(--main-bg-cl);
}
.description {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-transform: none;
color: var(--secondary-txt-cl);
}

/*Секція About*/
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-txt-cl);
}

.member-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-txt-cl);
}

.member-position {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-txt-cl);
}

/*Portfolio main*/
.services-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
font-style: none;
text-decoration: none;

color: var(--main-txt-cl);
}

.services-item {
font-weight: 400;
font-size: 16px;
line-height: 1.88;

color: var(--secondary-txt-cl);
}

.portfolio {
background-color: var(--main-bg-cl);
}

/*Footer*/
.footer {
background-color: var(--secondary-bg-cl);
}

a {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
font-style: normal;
text-decoration: none;

color: var(--white-color);
}

.mail, .phone {
    color: rgba(255, 255, 255, 0.6);
}
